.point {
  margin: 5px;
  display: inline-block;
}

.namePoint {
  display: inline-block;
  padding-right: 10px;
}

.board {
  display: table;
  margin: 10px;
  min-height: 3rem;
  min-width: 3rem;
  border: solid 2px black;
}

.inBoard {
  margin: 10px;
}

.createButt {
  display: block;
  width: 422px;
  margin: 5px;
}

.startButt {
  width: 338px;
  margin: 5px;
}

.xStart {
  width: 40px;
}
